#root {
  margin: 0px;
  box-sizing: border-box;
  animation: opacity 300ms;
  min-width: 1vw;
  min-height: 1vh;
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}


.read-the-docs {
  color: #888;
}

.pHeader {
  display: flex;
  max-height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 50px;
}


.pHeaderLogo {
  min-width: 200px;
  max-height: 50px;
  padding: 0 10px;
  margin: 10px 30px;
}

.pHeaderLogo img {
  width: 100%;
  max-height: 70px;

}

.pHeaderNav {
  flex: 3 1 100%;
  padding: 0 40px;

}

.stickyHeaderNav {
  flex: 0 1 50%;
  padding: 0 40px;

}

.navLink {
  flex: 1 1;
  text-align: center;
  position: relative;
}

.navLink a {
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.navLink a {
  color: black
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.video {
  height: 650px;
  position: relative;
  overflow: hidden;
  top: -70px;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.video:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stickyNav {
  max-height: 70px;
  display: flex;
  position: fixed;
  min-width: 100%;
  background-color: white;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 0px 8px lightgray;
}

.stickyNavAnimStart {
  top: 0;
  animation: marginAnim 500ms;
}

.stickyNavAnimEnd {
  top: -100px;
  animation: marginAnimRetrace 500ms;
}

.stickyNav img {
  max-width: 150px;
  aspect-ratio: auto;
  max-height: 70px;
  padding: 5px 10px;
}
.coro{
  display: flex;
  align-items: center;
  justify-content: center;

}
.coro img{
  max-height: 95%;
 
  object-fit: cover;
  border-radius: 2%;
  box-shadow:  0px 4px 10px 1px lightgray;
}
@keyframes marginAnim {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

@keyframes marginAnimRetrace {
  from {
    top: 0px;
  }

  to {
    top: -100px;
  }
}

.services {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 10px 50px;
  margin: 10px 0px;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-direction: row;

}

.card {
  flex: 1 1 100%;
  flex-grow: 1;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.card:hover{
  box-shadow: 0px 0px 5px rgba(207, 0, 0, 0.5);
}
.cardImg {
  flex: 1;
  max-height: 50%;
  overflow: hidden;
  border-bottom: 2px solid lightgray;
}

.cardImg img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.cardContent {
  flex: 1;
  max-height: 50%;
  padding: 5px 30px;
  text-align: left;
}


.cardContent p {
  font-size: 15px;
}

.cardContent h4 {
  color: darkslategrey;
}


.current::after {
  content: '';
  background: #CC5252;
  position: absolute;
  left: 37.5%;
  width: 25%;
  height: 3px;
  bottom: -2px;
}
.current2::after {
  content: '';
  background: #CC5252;
  position: absolute;
  left: 40%;
  width: 20%;
  height: 3px;
  bottom: 0px;
}
.footerM{
  display: flex;
  min-height: 500px;
  background-color: rgb(154, 189, 189);
  margin-top: 50px;
}
.footerChild{
display: flex;
flex: 1;
flex-basis: 40%;
max-width: 90%;
padding: 10px 30px;
}
.flexColumn{
  flex-direction: column;
}
.footerColor1{
  background-color: #e2e2e2;
  text-align: center;
}
.footerColor2{
  background-color: rgb(243, 243, 243);
}

.footerM h3{
  letter-spacing: 3px;
}
.faIcons{
  display: flex;
  margin: 20px;
  align-self: center;
}
.faIcons > * {
  padding: 0 10px;
}
.footerGrid{
  padding: 10px 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.footerGrid a{
font-size: 16px;
text-decoration: none;
color: black;
}

.footerGrid h6{
  margin: 10px 0px;
}

.red{
  color: #CC5252;
}
.blue{
  color: lightblue;
}

.recentWork{
  flex: 1 1 100%;
  min-width: 200px;
}

@media screen and (max-width: 800px) {

  .pHeader {
    padding: 5px;
  }
  .pHeaderLogo{
    padding: 0;
  }
  .stickyNav{
    padding: 0px 5px;
  }
  .navLink {
    display: none;
  }
  .cardContainer{
    flex-direction: column;
    
  }
  .services{
    padding: 5px;
  }
  .video{
    display: none;
  }
  .video:before{
    display: none;
  }
  .services h1{
    font-size: 35px;
  }
  .footerM{
    flex-direction: column;
  }
}